<div class="jumbotron">
  <h1>Burrow</h1>
  <p>Sharing is Caring!!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


<div class="dropdown">
  <!--data-toggle field makes the button toggle and expands the dropdown menu-->
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
      Dropdown
      <!--caret creates the dropdown arrow-->
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a class="test" tabindex="-1" href="#" >
         New Dropdown
         <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
      </ul>
    </li>
    <li><a href="#">Another link</a></li>
    <li><a href="#">Another link</a></li>
  </ul>
</div>


<!--<button  class="color-animate" type="button" >change background color</button>-->


<button type="button" onclick="chBackcolor();" >change background</button>
